@import url(https://fonts.googleapis.com/css2?family=Kanit:ital@1&display=swap);

body{
    background-image: url(../content/img/index/index-Background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(90%);
    background-color: #03033d;
    overflow: hidden;
    margin: 0 auto;
}

.Hero{
    width: 100%;
    height: auto;
    position: absolute;
}

.Container{
    display: block;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.Intro{
    padding-top: 2rem;
    position: relative;
    text-align: center;
    font-size: 2.7rem;
    color: white;
    font-family: 'Kanit', sans-serif;
}

.desc{
    position: absolute;
    width: 20%;
    margin-top: -1rem;
    padding-left: 39%;
    text-align: center;
    font-size: 0.9rem;
    color: white;
    font-family: 'Kanit', sans-serif;
}

.EnterBtn{
    padding-left: 43.5vw;
    padding-top: 8rem;
}

#ShopBtn{
    z-index: 2;
    width: 200px;
    height: 50px;
    margin-top: -7rem;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    background-color:  #005AFF;
    transition: 0.2s;
    font-family: 'Kanit', sans-serif;
}


#ShopBtn:hover{
    z-index: 2;
    width: 200px;
    height: 50px;       
    margin-top: -7rem;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    background-color:  #01318b;
    transition: 0.2s;
    font-family: 'Kanit', sans-serif;
}

.controller{
   width: 100%;
}


.pictureController{
    justify-content: center;
}

img{
    
   
}